//pagina index.html(Thiago)
//Animação com keyframe (parte do topo da pagina)
//tive que colocar diretamente no index.HTML porque o seletor header no efeitos.css já existe e está sendo carregado de uma versão antiga em cache. (comportamento estranho)

//Ao passar o mouse o background muda de cor (pseudo-classe :hover e aumenta de tamanho com uma transição)
.container-topicos {
    display: flex;
    justify-content: center;
}

.topicos {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.topicos li {
    padding: 6px 12px;
    border: 1px solid #ccb1ba;
    border-radius: 4px;
    transition: padding 0.5s ease, background-color 0.3s ease;
    background-color: #39111f;
    width: fit-content;
}

.topicos li:hover {
    padding: 6px 44px;
    background-color: #5c1d36;
}

//pagina produtos.html

.letra {}
.letra:first-letter {
    font-size: 2em;
    font-weight: bold;
    color: #8b0000;
}

@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

.banner {
    animation: fadeIn 3s ease-in-out;
}

.paginas {
    color: black;
    transition: 0.3s;
}

.paginas :hover {
    color: #8b0000;
}

.imgvinho:hover {
    transform: scale(1.5);
}

.card :hover {
    transform: rotate(2deg);
}

.card {
    list-style: none;
}


::selection{
    background-color: #4a172a;
    color: #8b0000;
}

//Requisitos que faltam dois pseudoclasses diferentes, dois pseudo-elementos, dois transformações scale, rotate e etc e transições simples e o README.md no final do projeto
//Lembrem de linkar o efeitos.css na pagina de vcs


//pagina contato.html


//pagina equipe.html


//pagina historia.html

