//pagina index.html(Thiago)
//Animação com keyframe (parte do topo da pagina)
//tive que colocar diretamente no index.HTML porque o seletor header no efeitos.css já existe e está sendo carregado de uma versão antiga em cache. (comportamento estranho)

//Ao passar o mouse o background muda de cor (pseudo-classe :hover e aumenta de tamanho com uma transição)
.container-topicos {
    display: flex;
    justify-content:center
}

.topicos {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.topicos li {
    padding: 6px 12px;
    border: 1px solid #ccb1ba;
    border-radius: 4px;
    transition: padding 0.5s ease, background-color 0.3s ease;
    background-color: #39111f;
    width: fit-content;
}

.topicos li:hover {
    padding: 6px 44px;
    background-color: #5c1d36;
}

Requisitos que faltam dois pseudoclasses diferentes, dois pseudo-elementos, dois transformações scale, rotate e etc e transições simples e o README.md no final do projeto
Lembrem de linkar o efeitos.css na pagina de vcs


pagina contato.html


pagina equipe.html


pagina historia.html

@keyframes descerNavbar {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

nav {
  background-color: #ddd;
  padding: 10px;
   animation: descerNavbar 1s ease-out;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
}

nav ul li a:hover {
  background-color: #800020;
  color: white;
  border-radius: 5px;
}

section {
  padding: 20px;
}

p::first-letter {
  font-size: 28px;
  font-weight: bold;
  color: #ffcccc;
}
::selection {
  background-color: #ffcccc;
  color: #5a0f1c;
}

img {
  width: 60%;
  max-width: 700px;
  transition: 0.4s;
}

img:hover{
    transform: scale(1.5);
}

input, textarea {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
}


input:focus, textarea:focus {
  border-color: #800020;
  outline: none;
}

input[type="checkbox"]:checked {
  accent-color: #800020;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #800020;
  color: white;
  cursor: pointer;
}


button:hover {
  background-color: #a00028;
}



pagina vinhos.html

button:hover {
background-color: red;
color:red
transform: scale(2)}

p:first-letter {
font-size: 2em;
font-weight: bold;
color: #8b0000;
}

@keyframes fadeIn {
from {
    opacity: 0;
    transform: translateY(4px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

.banner {
animation: fadeIn 3s ease-in-out;
}

a {
color: black;
transition: 0.3s;
}

a:hover {
color: #8b0000;
}

img:hover {
transform: scale(1.5);
}

.card:hover {
transform: rotate(2deg);
}


nav ul li{
color: black;
text-decoration: none;
transition: 0.3s;
}

nav ul li::selection {
color: #8b0000;
}

::selection{
background-color: #4a172a;
color: #8b0000;
}



