//pagina index.html(Thiago)
//Animação com keyframe (parte do topo da pagina)
//tive que colocar diretamente no index.HTML porque o seletor header no efeitos.css já existe e está sendo carregado de uma versão antiga em cache. (comportamento estranho)

//Ao passar o mouse o background muda de cor (pseudo-classe :hover e aumenta de tamanho com uma transição)
.container-topicos {
    display: flex;
    justify-content: center;
}

.topicos {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.topicos li {
    padding: 6px 12px;
    border: 1px solid #ccb1ba;
    border-radius: 4px;
    transition: padding 0.5s ease, background-color 0.3s ease;
    background-color: #39111f;
    width: fit-content;
}

.topicos li:hover {
    padding: 6px 44px;
    background-color: #5c1d36;
}

//pagina produtos.html

.letra {}
.letra:first-letter {
    font-size: 2em;
    font-weight: bold;
    color: #8b0000;
}

@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

.banner {
    animation: fadeIn 3s ease-in-out;
}

.paginas {
    color: black;
    transition: 0.3s;
}

.paginas :hover {
    color: #8b0000;
}

.imgvinho:hover {
    transform: scale(1.5);
}

.card :hover {
    transform: rotate(2deg);
}

.card {
    list-style: none;
}


::selection{
    background-color: #4a172a;
    color: #8b0000;
}

//Requisitos que faltam dois pseudoclasses diferentes, dois pseudo-elementos, dois transformações scale, rotate e etc e transições simples e o README.md no final do projeto
//Lembrem de linkar o efeitos.css na pagina de vcs


//pagina contato.html


//pagina equipe.html
.time-01 nav a:hover {
    color: gold;
}

.time-01 .nosso-time {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.time-01 .membro {
   background: #5a0f0f;
   padding: 25px;
   border-radius: 10px;
   width: 200px;
   transition: 0.3s; 
}
 .time-01 .membro img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
 }

 .time-01 .membro img {
    transform: rotate(3deg);
 }

 .time-01 .membro:nth-child(2) {
    border: 2px solid gold;
 }

 .time-01 .membro p::first-letter {
    color: gold;
    font-size: 18px;
 }
//pagina historia.html

.topico-historia {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.topico-historia li {
    padding: 6px 12px;
    border: 1px solid #ccb1ba;
    border-radius: 4px;
    transition: padding 0.5s ease, background-color 0.3s ease;
    background-color: #39111f;
    width: fit-content;
} 

.topico-historia li:hover {
    padding: 6px 44px;
    background-color: #5c1d36;
}
.topico-historia {
  background-color: #591b1b;
  padding: 10px;
   animation: descerNavbar 1s ease-out;
}

.topico-historia ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topico-historia ul li {
  display: inline;
}

.topico-historia ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
}

.topico-historia ul li a:hover {
  color: rgb(208, 88, 88);
  border-radius: 5px;
}

section {
  padding: 20px;
}

.historia::first-letter {
  font-size: 28px;
  font-weight: bold;
  color: #ffcccc;
}
.destaque ::selection {
  background-color: #ffcccc;
  color: #5a0f1c;
}

.minha-imagem{
  width: 60%;
  max-width: 700px;
  transition: 0.4s;
}

.minha-imagem:hover{
    transform: scale(1.5);
}

input, textarea {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
}


input:focus, textarea:focus {
  border-color: #800020;
  outline: none;
}

input[type="checkbox"]:checked {
  accent-color: #800020;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #800020;
  color: white;
  cursor: pointer;
}


button:hover {
  background-color: #a00028;
}

